---
const { tags } = Astro.props;
---

<div class="flex text-sm gap-2">
  {
    tags.map((tag) => (
      <span class="bg-zinc-200/10 px-2 py-1 rounded-lg border border-zinc-900/10 dark:border-zinc-700/40 dark:bg-zinc-800">
        {tag}
      </span>
    ))
  }
</div>
